<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.256427365117-bvumdch13ii3dqdihh0nkbp716fta773</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.256427365117-bvumdch13ii3dqdihh0nkbp716fta773</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>256427365117-bvumdch13ii3dqdihh0nkbp716fta773.apps.googleusercontent.com</string>
	<key>NSLocalizedDescription</key>
	<string>need to login using google</string>
</dict>
</plist>
